/*
    @theme Super Zen
    @override-placeholders html, xml, css, js, php, sass, ObjC, python
    @author Marcus Olovsson
    @version 0.1
*/

@base {
    background-color: #222;
    color: #ddd;
    selection-background-color: #444;
    insertion-point-color: #aaa;
    spell-check: disabled;
}

tag, source, sourcecode {
    spell-check: disabled;
}

comment {
    color: #555;
}

tag, variable name, property-name, php function, objc.function, python variable {
    color: #f5989d;
}

tag punctuation, selector, operator, keyword.control, storage, inheritance keyword, keyword.modifier, php pointer {
    color: #ff0066;
}

variable string * {
    background: #440016;
    color: #ff0066;
}

null, undefined {
    color: #f26522;
    background: #4e1900;
}

boolean, property-value constant {
    background: #00372c;
    color: #1cbb9b;
}

css property-value, sass property-value {
  color: #1cbb9b;
}

css property-value separator,
css property-value terminator,
sass property-value separator,
sass property-value terminator,
python variable.function {
  color: #ddd;
}

numeric {
    color: #00aeef;
    background: #00394e;
}

regex, regex punctuation, string, string punctuation, attribute-value.string punctuation,
property-value constant.color, property-value zconstant.color, property-value punctuation.constant {
    background: #223608;
    color: #96d443;
}